body {
	background-color: #2e3440;
	border: 2px solid red;
	padding: 20px
}
h1 {
	color: white;
	text-align: center;
	text-decoration: underline;
}
p  {
	color: #0055ff;
}
img {
	align: center;
	margin-left: auto;
	margin-right: auto;
}
